<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32662567958-4j4poek7muncptmh263bv7s7qdnf83io.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32662567958-4j4poek7muncptmh263bv7s7qdnf83io</string>
	<key>API_KEY</key>
	<string>AIzaSyCxEz8LXRho8jpkJA9rkHpZPVKeXHu7ehQ</string>
	<key>GCM_SENDER_ID</key>
	<string>32662567958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cardenaldevs.cardenalDevs</string>
	<key>PROJECT_ID</key>
	<string>cardenaldevs</string>
	<key>STORAGE_BUCKET</key>
	<string>cardenaldevs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32662567958:ios:213641b99fb2efa7f10937</string>
</dict>
</plist>